
table, th, tr, td{
    border: 1px solid black;
    border-collapse: collapse;

}

body{
    background-color: #e7eaf6;
    font-family:'Helvetica' , 'Tahoma' , sans-serif;
}

h1{
    background-color: #a2a8d3;
    margin: 0px;
    padding: 20px;;
}


.highlight{
    background-color: #a2a8d3;
}


