
table, th, tr, td{
    border: 1px solid black;
    border-collapse: collapse;

}

body{
    background-color: #e7eaf6;
}

h1{
    background-color: #a2a8d3;
}


.highlight{
    background-color: #a2a8d3;
}


